<!DOCTYPE html>
<html long="en">


<head>
    <meta chaeset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Document</title>
<head> 
<body>
    <h1>Count Page</h1>

    <script>
        var ws = new WebSocket('ws://127.0.0.1:8000/ws/Stest/')

        {% comment %} ws.onopen = function(){
            console.log('WebSocket connection open now .....')
            ws.send('Hi, can we talk now?')
        }
        ws.onmessage = function(event){
            console.log('Message Received from Server .....', event)
        }
        ws.onerror = function(event){
            console.log('Error .....', event)
        }
        ws.onclose = function(event){
            console.log('WebSocket connection is closed .....', event)
        }  {% endcomment %}


{% comment %} Event handler {% endcomment %}



        ws.addEventListener('open', (event) => {
            console.log('WebSocket ic connected now....', event)
            ws.send("he, can we talk now?")
        })
        ws.addEventListener('message', (event) => {
            console.log('message is receive now ....', event)
        })
        ws.addEventListener('error', (event) => {
            console.log('Error...', event)
        })
        ws.addEventListener('close', (event) => {
            console.log('WebSocket ic closed now....', event)
        })
    </script>
</body>     
</html>  